.App {
	text-align: center;
}

.table {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	grid-gap: 20px;
}

.header {
	box-shadow: 0px 0px 10px lightgrey;
	margin-bottom: 20px;
}
.header h1 {
	text-align: center;
	color: #ff7b00;
	padding: 10px 0;
}

input {
	border: 1px solid #ff7b00;
	border-radius: 5px;
	padding: 10px 0;
	margin: 5px;
	/* outline: 1px solid blue; */
	font-size: 1.2em;
	padding-left: 5px;
	outline: none;
	/*background: #ff7b00;*/
	color: #ff7b00;
}
.inputs {
	margin-bottom: 30px;
}
.label {
	text-align: center;
	font-size: 1.4em;
	font-weight: 400;
	border-bottom: 1px solid #ff7b00;
	margin: 2px;
	padding-bottom: 5px;
	margin-bottom: 15px;
	color: #ff7b00;
}
.value {
	text-align: center;
	font-size: 0.8em;
}

/*@media (max-width: 425px) {
	.label,
	.value {
		font-size: 0.4em;
		color: red;
	}
}*/
